<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>681496751980-gcd3pnvijropptr4okfdhpo3973tj42m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681496751980-gcd3pnvijropptr4okfdhpo3973tj42m</string>
	<key>API_KEY</key>
	<string>AIzaSyBJjL7lA2Sz_90emlQAv0pqofzbcLRcoEo</string>
	<key>GCM_SENDER_ID</key>
	<string>681496751980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.cstudentstudio.enation</string>
	<key>PROJECT_ID</key>
	<string>nyes-debuy</string>
	<key>STORAGE_BUCKET</key>
	<string>nyes-debuy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681496751980:ios:fa4feb47237491cd</string>
	<key>DATABASE_URL</key>
	<string>https://nyes-debuy.firebaseio.com</string>
</dict>
</plist>